body{background-color:#22396a;}

p{color: antiquewhite;}

h1{color: antiquewhite;}
h3{color: antiquewhite;}
a{color:red;text-align: center;}

div{color: darkgreen;font-size: 30px;}
.gamma{text-align: center;}
.rad{text-align: center;}